<H1>ADDING PLAYER TO DATABASE</H1>
<form>
    <label>ENTER ID       : </label>&nbsp; <input type="text">
    <label>ENTER NAME     :</label>&nbsp;  <input type="text">
    <label>ENTER CATEGORY :</label>&nbsp;  <input type="text">
</form>