<head>
    <style type="css">
        H1
        {   
            text-size:40px;
            text-color:red;
            text-align:center;
            
        }
    </style>
</head>

<body>
    <H1>WELCOME</H1>

</body>