@model IEnumerable<dotnetapp.Models.Team>
<p background='res/bg.jpg'>
<style>
    th
    {
        color:white;
    }
    td
    {
      color:white;  
    }
</style>

<div style="width:100% ;background-color:red ;text-align:center; padding:10px;">
    <h4 style="color:white;">ALL TEAMS</h3>
</div>
<div style="width:100%">
<table class="table" style="text-align: start;background-color:#333;">
    <thead>
        <th>TEAM ID</th>
        <th>TEAM NAME</th>
        <th>EDIT</th>
        <th>DELETE</th>
        <th>VIEW</th>
    </thead>
    <tbody >
        @foreach (var data in @Model)
        {
            <tr>
                <td>@data.TeamId</td>
                <td>@data.TeamName</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td><a href="#">View</a></td>
            </tr>    
        }
        
    </tbody>

</table>
</div>


<div style="width:100% ;text-align:end;">
<div style="width:50% ;background-color:darkblue ;text-align:center; padding:10px;">
    <h5 style="color:white;">ADD TEAM</h5>
</div>
<div style="width:50%; background-color:#333; text-align:center; padding:40px">

    <h7 style="color:white;">START ADDING TEAM TO "TOURNAMENT"</h7>
    <br>
    <br>
`
    <a href='@Url.Action("Create", "Player")'> <input type="submit" value="ADD PLAYER" style="color:white;background-color:#000; padding:7px; font-size:15px"></a>

</div>
</div>

</p>