@model IEnumerable<dotnetapp.Models.Team>
<p background='res/bg.jpg'>
<style>
    th
    {
        color:white;
    }
    td
    {
      color:white;  
    }
</style>

<div style="width:100% ;background-color:red ;text-align:center; padding:10px;">
    <h4 style="color:white;">ALL TEAMS</h3>
</div>
<div style="width:100%">
<table class="table" style="text-align: start;background-color:#333;">
    <thead>
        <th>TEAM ID</th>
        <th>TEAM NAME</th>
        <th>EDIT</th>
        <th>DELETE</th>
        <th>VIEW</th>
    </thead>
    <tbody >
        @foreach (var data in @Model)
        {
            <tr>
                <td>@data.TeamId</td>
                <td>@data.TeamName</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td><a href="#">View</a></td>
            </tr>    
        }
        
    </tbody>

</table>
</div>


</p>